@import "tailwindcss";

@theme {
  --breakpoint-3xl: 1600px;
  --color-black: #131313;
  --color-primary-blue: #23B4E8;
  --color-primary-green: #2AF598;
  --scale-102: 1.02;
}

body {
    background-color: #131313;
}

a {
    color: #E4E4E7;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500; 
  }