.markdown {
    @apply text-lg leading-relaxed;
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }

  .markdown a {
    @apply text-primary;
  }
  
  .markdown h1 {
    @apply text-5xl mt-4 mb-4 leading-snug;
  }

  .markdown h2 {
    @apply text-4xl mt-4 mb-4 leading-snug;
  }
  
  .markdown h3 {
    @apply text-3xl mt-4 mb-4 leading-snug;
  }

  .markdown h4 {
    @apply text-2xl mt-4 mb-4 leading-snug;
  }

  .markdown h5 {
    @apply text-xl mt-4 mb-4 leading-snug;
  }
  